.meilisearch-box-ui{
  position: relative;
  width: 500px;
  
  .ais-SearchBox-submit{
    display: none;
  }
  
  .ais-SearchBox-form{
    display: flex;
    align-items: center;
    width: 400px;
    
    .ais-SearchBox-input{
      width: 350px;
      height: 55px;
      border-radius: 22px;
      border:1px solid #EAEAEA;
      padding-left: 10px;
      font-size: 22px;
    }
    
    .ais-SearchBox-reset{
      background: #fff;
      border:none;
      cursor: pointer;
      
      svg{
        width: 20px;
        height: 20px;
      }
    }
  }
  
  .ais-Highlight-highlighted{
    background: rgb(240, 219, 117);
    border-radius: 4px;
  }
  
  
  .result-hit-wrapper{
    display: flex;
    justify-content: space-between;
  }
  
  .ais-Hits{
    position: absolute;
    top: 100%;
    z-index: 3;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 22px;
    max-height: 700px;
    overflow: auto;
    
    .ais-Hits-item{
      padding: 8px 12px;
      font-size: 20px;
      
      &:hover{
        background: #fafaaf;
      }
      
      .result-hit-wrapper{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        
        .delete-btn{
          width: 50px;
          height: 43px;
        }
      }
    }
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
  input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }
}