.image{
  width: 320px;
  height: 450px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 5px 0;
  border-bottom: 1px solid #cccccc;
}
.variant-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.game-offers-wrapper{
  
  .gameOffer{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #EAEAEA;
    padding: 8px 0;
  }
}
.gameVariantsBlock{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin: 16px 0;
}