.merchants-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  
  .merchant{
    padding: 5px 10px;
    border: 1px solid #fafafa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    
    &.disabled{
      opacity: 30%;
      cursor: not-allowed;
      background: #ccc;
    }
    
    &.selected{
      outline: 2px solid #1a4e9b;
      outline-offset: 2px;
    }
  }
}