.actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.appHeader{
  width: 100%;
  
  header{
    width: 100%;
    display: flex;
    align-items: center;
  }
}